<main>
  <div class="container content">
    <div class="first-container base-card">
      <h2>Spoon & Movies</h2>
      <p>
        Pesquise seus filmes favoritos e salve em uma lista para assistir com
        sua pessoa especial nesse dia dos namorados.
      </p>
      <div class="search-container">
        <div class="input-group mb-2">
          <input
            type="text"
            class="form-control"
            id="label"
            aria-describedby="basic-addon3"
            placeholder="Digite o nome do filme"
          />
        </div>

        <div class="button-container">
          <button type="button" class="btn btn-outline-primary">
            Procurar
          </button>
          <button type="button" class="btn btn-primary">Limpar</button>
        </div>
      </div>
    </div>
  </div>
</main>
