<div class="main">
  <header class="head">
    <h4>SpoonMovies</h4>
    <mat-icon class="ml-2">local_dining</mat-icon>
    <mat-icon>favorite</mat-icon>
    <mat-icon>movie</mat-icon>
  </header>
  <div class="container principal-container">
    <div class="container">
      <div class="first-container base-card">
        <h1>Spoon & Movies</h1>
        <p>
          Pesquise seus filmes favoritos e salve em uma lista para assistir com
          sua pessoa especial nesse dia dos namorados.
        </p>
        <div class="search-container">
          <div class="input-group mb-2">
            <input
              type="text"
              class="form-control"
              id="label"
              aria-describedby="basic-addon3"
              placeholder="Digite o nome do filme"
            />
          </div>

          <div class="button-container">
            <button type="button" class="btn btn-outline-primary">
              Procurar
            </button>
            <button type="button" class="btn btn-dark">Limpar</button>
          </div>
        </div>
      </div>
    </div>
    <div class="second-container base-card mt-4">
      <div class="text-container">
        <h1>Amantes Eternos</h1>
        <p>
          A história de amor entre dois vampiros eruditos, Eve (Tilda Swinton) e
          Adam (Tom Hiddleston), cansados da sociedade atual e profundamente
          incomodados com a evolução da humanidade. Há séculos eles vivem uma
          relação de cumplicidade e muito amor, que será abalada pela
          aproximação da irresponsável irmã caçula da vampira, Ava (Mia
          Wasikowska).
        </p>
        <p><b>Elenco : </b>Tom Hiddleston, Tilda Swinton, Mia Wasikowska</p>
        <p class="">
          <b>Review : </b><mat-icon>stars</mat-icon><mat-icon>stars</mat-icon
          ><mat-icon>stars</mat-icon>
        </p>
        <p>
          <button>
            Salvar<mat-icon class="ml-2">bookmark_border</mat-icon>
          </button>
        </p>
      </div>
      <div class="img-container">
        <img src="./../../assets/imgs/movie.jpg" class="rounded float-left" />
      </div>
    </div>
  </div>
  <footer class="foot">
    <h4>SpoonMovies</h4>
    <mat-icon class="mr-2">local_dining</mat-icon>
    <mat-icon>favorite</mat-icon>
    <mat-icon>movie</mat-icon>
  </footer>
</div>
