.main {
  padding: 10px;
}

.principal-container {
  padding: 10px;
}

.first-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.input-container input {
  display: flex;
  width: 100%;
}

.button-container {
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: 100%;
  margin: 5px;
}

.second-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  margin: 10px;
}

.text-container {
  justify-content: left;
  margin: 10px;
}

.text-container button {
  width: 70%;
  display: flex;
  flex-flow: wrap-reverse;
}

.head {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}

.foot {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  padding: 5px;
}

.img-container {
  display: flex;
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;
}

.img-container img {
  width: 100%;
}

@media (min-width: 768px) {
  .search-container {
    flex-direction: row;
    width: 90%;
  }

  .button-container {
    flex-direction: row;
    margin-bottom: 15px;
    justify-content: end;
    gap: 15px;
  }

  .button-container button {
    width: 130px;
  }

  .second-container {
    flex-direction: row;
  }

  .text-container {
    margin: 10px;
    padding: 20px;
    width: 70%;
  }

  .img-container {
    justify-content: right;
  }

  .img-container img {
    width: 80%;
  }

  .first-container {
    min-height: 190px;
  }
}

@media (min-width: 992px) {
  .text-container {
    min-height: 430px;
  }

  .img-container img {
    height: 480px;
    width: auto;
  }
}

@media (min-width: 1200px) {
  .text-container {
    min-height: 500px;
    padding: 40px;
  }
}
