.main {
  border: 1px solid black;
}

.head,
.foot,
.principal-container {
  border: 1px solid green;
  padding: 10px;
}

.first-container {
  border: 1px solid red;
}

.second-container {
  border: 1px solid blue;
}
